@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

body{
    font-family: 'Montserrat', sans-serif;
}

#urunler button{
    margin-top:-20px;
    margin-left:20px;
}

#hakkimizda{
    background-image: url('../img/cozum-dental-hakkimizda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#altSayfaBanner{
    background-image: url('../img/hakkimizda-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.py-15{
    padding-top:150px;
    padding-bottom:150px;
}

h1{
    font-size: 35px;
}

#urunlerContent a{
    text-decoration: none !important;
    color:#393939 !important;
    
}

#urunlerContent h2{
    font-size:22px;
}




/* Mobil Css */
@media (max-width:768px){

    h2{
        font-size: calc(1rem + 1vw);
    }

    #kurumsalContent iframe{
        width: 100%;
    }

    #footer{
        padding-top:20px !important;
        padding-bottom:20px !important;
    }

    .footer2, .footer3{
        width: 50%;
        margin-top:20px;
        margin-bottom:20px;
    }

    #altFooter .col-md-4{
        text-align: center !important;
    }
}